@model IEnumerable<ToDo>
	<div class="row">
		<div class="col-md-2">
			<form asp-action="Filter" method="post">
				<div class="mb-3">
					<label class="form-label">Due:</label>
					<select name="filter" class="form-select" 
					asp-items="@(new SelectList(ViewBag.DueFilters,"Key","Value",ViewBag.Filters.Due))">
					<option value="all">All</option>
				</select>
				</div>
				<div class="mb-3">
					<label class="form-label">Status:</label>
					<select name="filter" class="form-select"
					asp-items="@(new SelectList(ViewBag.Statuses,"StatusId","Name",ViewBag.Filters.StatusId))">
				<option value="all">All</option>
			</select>
				</div>
				<button type="submit" class="btn btn-primary">Filter</button>
				<a asp-action="Index" asp-route-id="" class="btn btn-primary">Clear</a>
			</form>
		</div>
		<div class="col-md-10">
			<form asp-action="MarkComplete" method="post" asp-route-id="@ViewBag.Filters.FilterString">
				<table class="table table-bordered table-striped mt-2">
					<thead>
						<tr>
							<th>Title</th>
							<th>Description</th>
							<th>Due Date</th>
							<th>Status</th>
							<th class="w-25"></th>
						</tr>
					</thead>
					<tbody>
					@foreach(ToDo task in Model)
					{
						string overdue = task.Overdue ? "bg-warning" : "";

						<tr>
							<td>@task.Title</td>
							<td>@task.Description</td>
							<td class="@overdue">@task.DueDate?.ToShortDateString()</td>
							<td class="@overdue">@task.status.Name</td>
							<td>
								@if(task.StatusId == "open")
								{
									<button type="submit" class="btn btn-primary btn-sm" name="@nameof(ToDo.Id)" value="@task.Id">MarkCompleted</button>
									<a asp-action="Edit" class="btn btn-outline-success btn-sm" asp-route-id="@task.Id">Edit</a>
									<a asp-action="Delete"class="btn btn-danger btn-sm" asp-route-id="@task.Id">Delete</a> 
								}
							</td>
						</tr>
					}
				</tbody>
				</table>
			</form>
			<form asp-action="DeleteComplete" method="post" asp-route-id="@ViewBag.Filters.FilterString">
				<a asp-action="Add" class="btn btn-primary">Add new task</a>
				<button type="submit" class="btn btn-primary">Delete completed tasks</button>
			</form>
		</div>
	</div>